body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #header-logo, footer #footer-logo, footer .static-logo {
    width: 100px;
    height: auto;
}

header h1, footer .footer-info {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

nav {
    position: relative;
}

#menu {
    display: none;
}

.show {
    display: block;
}

#menu {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
}

#menu a {
    display: block;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
}

#menu a:hover {
    background-color: #ddd;
}

#menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}

#orgDescriptionDisplay {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}



/* Footer Layout for Larger Screens */
footer {
    flex-direction: column;
    align-items: center;
}

footer .static-logo, footer #footer-logo {
    display: inline-block; /* Logos side by side */
    margin-right: 10px; /* Space between logos */
}

footer .footer-info {
    width: 70px;
    order: 2; /* Information below the logos */
    margin-top: 10px; /* Space above the information */
}

/* Responsive Styles */
@media (max-width: 600px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    header h1, footer .footer-info {
        order: -1; /* Place the title/info above the logo/menu */
    }

    footer .static-logo, footer #footer-logo {
        width: 80px; /* Smaller logos for mobile */
    }
}
