body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.create-account-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.create-account-form label {
    display: block;
    margin-bottom: 10px;
}

.create-account-form input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.create-account-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.create-account-form button:hover {
    background-color: #0056b3;
}
