body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white; /* Container background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-form button {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Button background */
    color: white; /* Button text */
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.outlook-login {
    background-color: #0072C6; /* Outlook button color */
}

.gmail-login {
    background-color: #D44638; /* Gmail button color */
}

.alternative-login button {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: white; /* Button text */
    cursor: pointer;
}

.alternative-login button:hover {
    opacity: 0.9;
}
